<template>

  <div class="flex bg-gray-200 p-2 rounded justify-between items-center">

    <div class="flex items-center gap-3">
      <SvgIcon w="20px" :icon="'inbox'"/>
      <span>{{ readerId }}</span>
    </div>

    <span class="text-sm text-gray-600">{{ connectedAt }}</span>
  </div>

</template>

<script>

import SvgIcon from "@/components/SvgIcon";

export default {
  name: 'clientRow',
  components: {SvgIcon},
  props: ['readerId', 'connectedAt']
}
</script>
