<template>

  <div>

    <div class="flex gap-3 bg-gray-800 p-3 rounded-tr rounded-tl justify-between">

      <div class="flex gap-3 justify-center items-center text-white">
        <SvgIcon class="text-white" w="20px" :icon="'openEnvelope'"/>
        <span>#{{title}}</span>
      </div>

      <span class="text-sm text-gray-300">
        {{ receivedAt }}
      </span>

    </div>

    <div class="bg-gray-200 p-2 rounded-br rounded-bl text-justify">
      {{ message }}
    </div>

  </div>


</template>

<script>

import SvgIcon from "@/components/SvgIcon";

export default {
  name: 'clientRow',
  components: {SvgIcon},
  props: ['message', 'title', 'receivedAt']
}
</script>
