<template>

  <div :style="{ width: w }" class="flex justify-center items-center">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" :viewBox="view" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" :d="path"/>
    </svg>
  </div>


</template>

<script>

import icons from './Icons'

export default {
  name: 'svgIcon',
  components: {},
  props: ['w', 'icon'],
  computed: {
    path: function () {
      return icons[this.icon] ? icons[this.icon].path : "";
    },
    view: function () {
      let viewValue = icons[this.icon].view;
      return icons[this.icon] ? `0 0 ${viewValue} ${viewValue}` : ""
    }
  }
}
</script>
