<template>

  <div class="flex justify-center items-center gap-1 h-full dark-bg p-10">

    <span @click="goToPublisher"
          class="animate__animated animate__fadeIn p-2 flex-1 h-full text-center rounded-tl rounded-bl cursor-pointer bg-indigo-700 text-white hover:bg-gray-800 flex flex-col justify-center items-center">

          <SvgIcon w="100px" :icon="'envelope'"/>
          <span class="font-bold">PUBLISHER</span>
          <span>Send messages</span>
      </span>

    <span @click="goToReader"
          class="animate__animated animate__fadeIn p-2 flex-1 h-full text-center rounded-tr rounded-br cursor-pointer bg-yellow-700 text-white hover:bg-gray-800 flex flex-col justify-center items-center">

          <SvgIcon w="100px" :icon="'inbox'"/>
          <span class="font-bold">READER</span>
          <span>Receive messages</span>
      </span>

  </div>

</template>

<script>

import SvgIcon from "@/components/SvgIcon";

export default {
  name: 'home',
  components: {SvgIcon},
  methods: {
    goToReader: function () {
      this.$router.push({path: 'reader'})
    },
    goToPublisher: function () {
      this.$router.push({path: 'publisher'})
    }
  }
}
</script>
