<template>

  <div class="flex flex-col justify-center items-center gap-5 h-full bg-indigo-900 animate__animated animate__fadeIn">

    <span class="text-white text-6xl">PUBLISHER</span>

    <div class="mt-1 flex rounded shadow-sm w-1/2">

      <span class="inline-flex items-center px-3 rounded-l-md border border-r-0 border-gray-300 bg-gray-50 text-gray-500 text-sm">
        <SvgIcon w="20px" icon="envelope"/>
      </span>

      <input type="text"
             class="focus:ring-indigo-500 focus:border-indigo-500 flex-1 block w-full rounded-none sm:text-sm border-gray-300"
             placeholder="Type something to send (press enter or click button)"
             v-model="currentMsg"
             @keyup.enter="send">

      <span @click="send"
            class="flex justify-center items-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-none rounded-r-md text-white bg-indigo-600 hover:bg-indigo-700 cursor-pointer">

        <SvgIcon w="20px" icon="arrowRight"/>
      </span>

    </div>

    <div class="w-1/2 h-1/2 bg-gray-800 rounded bg-opacity-60 flex flex-col">

      <div class="flex bg-gray-800 text-white font-bold p-3 rounded-tr rounded-tl justify-between items-center">

        <div class="flex gap-3 justify-center items-center">
          <span class="w-3 h-3 bg-green-500 rounded"></span>
          <span>Connected clients - {{ readers.length }}</span>
        </div>

        <SvgIcon @click.native="loadReaders" w="20px" :icon="'refresh'" class="cursor-pointer" :class="{ 'animate__animated animate__rotateIn': loading }"/>

      </div>

      <div class="flex flex-1 p-5 animate__animated animate__fadeIn justify-center items-center" v-if="loading">
        <Loader/>
      </div>

      <div class="flex flex-1 flex-col gap-3 overflow-y-scroll p-5 animate__animated animate__fadeIn" v-if="!loading">

        <div v-if="readers.length === 0" class="text-white flex flex-col justify-center items-center h-full">
          <SvgIcon w="40px" icon="inbox" class="text-gray-400"/>
          <span class="text-gray-400">No clients currently connected</span>
        </div>

        <ClientRow v-for="r in readers" :key="r.readerId" :reader-id="r.readerId" :connected-at="formatted(r.connectedAt)"/>
        <div class="flex bg-transparent p-1 h-5"></div>
      </div>

    </div>

  </div>

</template>

<script>

import ClientRow from "@/components/ClientRow";
import SvgIcon from "@/components/SvgIcon";
import Loader from "@/components/Loader";
import moment from 'moment';

import api from "../Api";

export default {
  name: 'publisher',
  components: {ClientRow, SvgIcon, Loader},
  data: function () {
    return {
      readers: [],
      currentMsg: undefined,
      loading: false,
    }
  },
  mounted: function () {
    this.loadReaders();
  },
  methods: {
    loadReaders: function () {

      this.loading = true;

      api.fetchReaders().then(res => {
        this.readers = res.data.readers;
        setTimeout(() => this.loading = false, 1000)
      });
    },
    send: function () {
      api.sendMsg(this.currentMsg).then(res => {
        this.currentMsg = undefined;
      });
    },
    formatted: function(date){
      return moment(date).format("DD/mm/YYYY HH:mm:ss");
    }
  }
}
</script>
