<template>
  <div class="flex flex-col justify-center items-center gap-5 h-full bg-yellow-900 animate__animated animate__fadeIn">

    <span class="text-white text-6xl">READER</span>

    <div class="w-1/2 h-1/2 bg-gray-800 rounded bg-opacity-60 flex flex-col">

      <div class="flex bg-gray-800 text-white font-bold p-3 rounded-tr rounded-tl justify-between items-center">

        <div class="flex gap-3 justify-center items-center">
          <span>Received messages - {{ messages.length }}</span>
        </div>

        <div class="flex gap-3 justify-center items-center">

          <span>{{ connected ? 'Connected' : 'Disconnected' }}</span>
          <span class="w-3 h-3 rounded" :class="{'bg-green-500': connected, 'bg-red-500': !connected}"></span>

          <SvgIcon v-if="!connected" @click.native="connect" class="cursor-pointer" w="20px" :icon="'play'"/>
          <SvgIcon v-if="connected" @click.native="disconnect" class="cursor-pointer" w="20px" :icon="'stop'"/>

        </div>

      </div>

      <div class="flex flex-1 flex-col gap-3 overflow-y-scroll p-5">

        <div v-if="messages.length === 0" class="text-white flex flex-col justify-center items-center h-full" >
          <SvgIcon w="40px" icon="envelope" class="text-gray-400"/>
          <span class="text-gray-400">No messages received yet</span>
        </div>

        <Message v-for="(m, i) in messages" :key="m.receivedAt" :title="i + 1" :message="m.content" :received-at="formatted(m.receivedAt)"/>
        <div class="flex bg-transparent p-1 h-5"></div>
      </div>
    </div>

  </div>
</template>

<script>

import moment from 'moment';

import Message from "@/components/Message";
import SvgIcon from "@/components/SvgIcon";

export default {
  name: 'reader',
  components: {Message, SvgIcon},
  data: function () {
    return {
      connection: null,
      messages: [],
      connected: false
    }
  },
  methods: {
    connect: function () {

      this.connection = new WebSocket("ws://localhost:1000/messages");

      let that = this;

      this.connection.onmessage = function (event) {
        that.messages.push(JSON.parse(event.data))
      }

      this.connection.onopen = function (event) {
        that.connected = true;
      }

      this.connection.onclose = function (event) {
        that.connected = false;
      }
    },
    disconnect: function () {
      if (this.connection != null) {
        this.connection.close();
        this.connection = null;
      }
    },
    formatted: function(date){
      return moment(date).format("DD/mm/YYYY HH:mm:ss");
    }
  },
  created: function () {
    this.connect();
  }
}
</script>
